<link
  rel="stylesheet"
  href="{{ url_for('static', filename='formStyle.css') }}"
/>
<body class="body">
  <div id="questionnaire">
    <h1>OPTI-MAT</h1>
    <h2>Your Material Selection Assistant</h2>
    <form id="questionsForm" action="/response" method="post">
      <div class="question-container" id="1">
        <p>1. What project are you working on today</p>
        <input type="text" name="about" required />
      </div>
      <div class="question-container" id="2">
        <p>2. what do you want your material to do functionally?</p>
        <input type="text" name="function" required />
      </div>
      <div class="question-container">
        <p>3. What's your cost constraint in this project?</p>
        <input type="text" name="cost_constraint" required />
      </div>

      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
  <script src="{{ url_for('static', filename='form.js') }}"></script>
</body>
