body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#questionnaire {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  margin: auto;
  text-align: left;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.loading {
  display: none;
}

h1,
h2 {
  color: #1d2743;
  text-align: center;
}

h2 {
  margin-bottom: 50px;
}

button {
  background-color: #1d2743;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  align-self: center;
}

button:hover {
  background-color: #5b6586;
}

div.question-item {
  text-align: center;
  margin-top: 15px;
}

p {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: smaller;
}

.question-container {
  margin-bottom: 20px;
}

input[type="text"],
textarea {
  width: calc(100% - 20px);
  padding: 8px 10px;
  margin-top: 4px;
  border: 2px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
